/* config/boards/shields/modu/modu.keymap */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* 0번 레이어: 기본 입력 (테스트용 A~G + 레이어 키) */
        default_layer {
            bindings = <
                &kp A       &kp B
                &kp C       &kp D
                &kp E       &kp F
                &kp G       &lt 1 H  /* [핵심] 톡 치면 H, 꾹 누르면 1번 레이어 활성화 */
            >;
        };

        /* 1번 레이어: 블루투스 및 시스템 설정 (H 키를 누른 상태에서 작동) */
        bt_layer {
            bindings = <
                &bt BT_SEL 0    &bt BT_SEL 1    /* 1번, 2번 기기 선택 */
                &bt BT_CLR      &out OUT_TOG    /* [중요] 페어링 초기화 / USB-블루투스 강제 전환 */
                &sys_reset      &bootloader     /* 리셋 / 부트로더 진입 (비상용) */
                &none           &trans          /* 빈 키 / 레이어 키(투명) */
            >;
        };
    };
};